<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
   	<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
   	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        /*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
.table{
    color: white;
}
#contact{

    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}

        </style>
</head>
<body>
<section id="contact">
			<div class="section-content">
				<h1 class="section-header">E-Mail <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Status</span></h1>
				<h3>See the below reports</h3>
			</div>
			<div class="contact-section">
			<div class="container">
                <div class="table-responsive" id="send_email_data">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Mobile Number</th>
        <th>Create date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    {% for pemail in p_email_all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ pemail.name }}</td>
        <td>{{ pemail.recipent_email }}</td>
        <td>{{ pemail.subject }}</td>
        <td>{{ pemail.MobileNumber }}</td>
        <td>{{ pemail.create_date|date:"M d, Y" }}</td>
        <td>{{ pemail.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
			</div>
            </div>
		</section>
<script>
    function refresh_page() {

        $.ajax({
            url: ".",
            success: function (result) {
                $("#send_email_data").html(result);

            }
        });
    }
    setInterval( refresh_page, 30000 );
    </script>
</body>
</html>